# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environnements virtuels
venv/
env/
ENV/
.venv/

# IDE / Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store
Projet 23-03/anidata-lab/data/raw/rating_complete.csv
Projet 23-03/anidata-lab/data/raw/rating_complete.csv
